<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Expériences</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">MODELIS SENEGAL</div>
                                        <div class="h6 mt-0 title">Développeur Full Stack ( 2020-07 - Present )</div>
                                        <p align="justify"><a href="http://modelis-senegal.com/" target="_blank">MODELIS SENEGAL</a> est une représentation du <a href="https://modelisgroup.com" target="_blank">Groupe MODELIS</a> basé en Côte
                                            d'Ivoire et présente au Mali et en France.
                                            Développement d'application et logiciel informatique dans le domaine des
                                            Systéme d'Information Géographique, SIG .
                                            </p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Fonctionnalité de base</li>
                                            <ul>
                                                <li class="non_list">Développement d'Application GIS & WEB</li>
                                            </ul>
                                            <li class="list">Technologies et Languages</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Agile</li>
                                                        <li class="non_list">Asana</li>
                                                        <li class="non_list">Docker</li>
                                                        <li class="non_list">Jenkins</li>
                                                        <li class="non_list">Rancher</li>
                                                        <li class="non_list">Git/Github</li>
                                                        <li class="non_list">PostgreSQL</li>

                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Spring Boot</li>
                                                        <li class="non_list">Java 11</li>
                                                        <li class="non_list">Maven</li>
                                                        <li class="non_list">Spring Cloud Microservice</li>
                                                        <li class="non_list">Angular</li>
                                                        


                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">JA DELMAS, Saudequip</div>
                                        <div class="h6 mt-0 title">Développeur Full Stack (2020-01 - 2020-06)</div>
                                        <p align="justify">Développement d'une application web et mobile responsive , pour la gestion du
                                            workflow continu allant de la demande d'achat à l'enregistrement de l'opération
                                            d'achat des 11 pays du réseau de l'entreprise
                                            <a href="https://jadelmas.com" target="_blank">JA DELMAS</a> .</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Fonctionnalité de base</li>
                                            <ul>
                                                <li class="non_list">Développement d'Application </li>
                                            </ul>
                                            <li class="list">Technologies et Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Agile</li>
                                                        <li class="non_list">Trello</li>
                                                        <li class="non_list">Php</li>
                                                        <li class="non_list">Symfony 4 API</li>
                                                        <li class="non_list">Doctrine</li>
                                                        <li class="non_list">Mysql</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Vuejs</li>
                                                        <li class="non_list">Postman</li>
                                                        <li class="non_list">Git/GitLab</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
        