<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>Janvier 2019 - 12 Novembre 2020</p>
                        <div class="h5">BTS: Certification</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">DEVELOPPEMENT WEB ET MOBILE</div>
                                <h4 class="category">SONATEL ACADEMY</h4>
                                <!-- <ul>
                                    <li> R.V College Of Engineering(Affilated to VTU) <b>ranks 1st</b> in Karnataka </li>
                                        <li>Completed B.E in Computer Engineering with <b>8.1 CGPA</b>.</li>
                                </ul> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>Février 2014 - Août 2018</p>
                        <div class="h5">Licence 3</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Licence Physique Chimie et Science de la Matiére</div>
                            <h4 class="category">Université Cheikh Anta Diop Dakar</h4>
                            <!-- <ul>
                                    <li>Completed  <b>Diploma</b> in <b>Computer Science</b> with <b>90%</b> aggregate.</li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>Février 2017 - Avril 2017</p>
                        <div class="h5">Formation</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">Formation en Télémarketing, Développement
                                Personnel, Technique de Vente</div>
                                <h4 class="category">Cabinet de Formation
                                    Professionnelle et D’Insertion (CFPI) Yoff, Dakar</h4>
                                <!-- <ul>
                                        <li>Completed <b>ITI</b> in <b>Center of Excellence(COE)</b> with <b>80% </b>aggregate.</li>
                                </ul> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>Octobre 2012 - juillet 2013</p>
                        <div class="h5">Baccalauréat </div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Baccalauréat Série S2</div>
                                <h4 class="category">Cours Privés Natangué Keur Massar</h4>
                                <!-- <ul>
                                        <li>Completed  SSLC with <b>65.6%</b>.</li>
                                </ul> -->
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               